[user]
    name = Nick Torres
    email = nickrtorres@icloud.com
[alias]
    at = add --update
    ci = commit
    can = commit --amend --no-edit
    co = checkout
    d = diff
    dc = diff --staged
    ds = diff --compact-summary
    inc = add -p
    mf = merge
    sn = status --untracked-files=no
    st = status
[commit]
    verbose = 1
[core]
    pager = delta
[delta]
    light = true
    syntax-theme = "none"
[interactive]
    diffFilter = delta --color-only
